@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orelega+One&display=swap');


* {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: auto;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  /* background: #fff; */
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: auto;
  margin: 0;
}

ul.nav {
  float: right;
  list-style: none;
}

.menu {
  position: relative;
  top: 200px;
}

ul.nav li {
  display: inline;
  margin-left: 25px;
  margin-right: 28px;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  transition: opacity 500ms ease;

}

#menu .button {
  text-transform: uppercase;
}

ul.navv li {
  display: inline;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

.presentation {
  margin: 0;
  background: linear-gradient(180deg, #D3E3EE 14%, #ECF3F8 30%, #ECF3F8 100%);
  width: inherit;
  height: 720px;
  position: relative;
}

#okno {
  display: none;
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 15px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  position: absolute;
  left: 2px;
}

#okno:target {
  display: block;
}

.close-window {
  display: inline-block;
  border: 1px solid #ffffff;
  color: #7700ff;
  padding: 0 12px;
  text-decoration: none;
  background: #00000000;
  font-size: 14pt;
  cursor: pointer;
}

.close:hover {
  background: #e5c3ee;
}

#contact-window {
  display: none;
  width: 600px;
  height: 450px;
  text-align: left;
  padding: 15px;
  align-items: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #997b7b;
  background-color: #fff9ed;
  position: absolute;
  top: 125%;
  left: 47%;
  z-index: 100;
}

#contact-window:target {
  display: block;
}

.contact-info {
  margin-bottom: 20px;
}

.other-title {
  margin-top: 20px;
}

.general-title {
  margin-top: 20px;
}

.contact-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide {
  position: relative;
  width: 1110px;
  height: auto;
  top: -134px;
  left: -78px;
  gap: 0px;
  opacity: 0px;
}

.hello-mess {
  position: relative;
  width: 702px;
  height: 358px;
  top: 256px;
  left: 50%;
  border-radius: 40px;
  opacity: 0px;
  background: #FFFFFF4D;
}


.slides__text-section {
  display: grid;
  gap: 10px;
}

.slides__headline1 {
  font-family: Lemon;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.slides__paragraph {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.slides__headline2 {
  font-family: Lemon;
  font-weight: 400;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #D3E3EE;
}


.mess {
  position: relative;
  width: 680px;
  height: 224px;
  top: 88px;
  opacity: 0px;
  font-family: Orelega One;
  font-size: 20px;
  font-weight: 400;
  line-height: 21.81px;
  text-align: center;
  margin: 11px;

}

/* header .presentation::after{
  content: 'Оплата штрафов';
  position: absolute;
  top: 80px;
  left: 130px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
} */
/* header .presentation::before{
  width: 546px;
  content: 'Подпишитесь на уведомления о новых штрафах успевайте их оплачивать со скидкой 50%';
  position: absolute;
  top: 184px;
  left: 130px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */
header button.button {
  background: none;
  border: none;
  padding: 0;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.17em;
  text-align: center;
  font-family: "Montserrat";
  transition: opacity 500ms ease;
  color: #000000;
}

header a.button {
  text-decoration: none;
}

footer a.button {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.h-header {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 118px;
  position: relative;
  /* background-image: url(./img/logo.png);
  background-repeat: no-repeat;
  background-size: 43px 43px;
  background-position: center left  20px; */
}

.header-content {
  all: unset;
  position: relative;
  top: 40%;
  bottom: 0px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

header button.buttons {
  width: 249px;
  height: 66px;
  background: #000000c9;
  border: none;
  padding: 0;
  margin-top: 350px;
  margin-left: 145px;
  cursor: pointer;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
  font-family: "Montserrat";
  color: #fff;
}

.buttons:hover {
  background: #000000d8;
  font-size: 33px;
  width: 259px;
  height: 76px;
  transition: all 500ms ease;
}

.mains {
  display: grid;
  flex-shrink: 0;
  background: linear-gradient(180deg, #D3E3EE 100%, #FFFFFF 20%, #FFFFFF 0%);
}

.text {
  display: grid;
  height: 75px;
  gap: 20px;
  justify-items: center;
}

.mains .headline {
  width: max-content;
  height: 26px;
  top: 22px;
  font-family: Orelega One;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.mains .headline-2 {
  width: max-content;
  height: 20px;
  top: 77px;
  left: 251px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.mains .cards {
  display: flex;
  justify-content: center;

}

.pres {
  padding-top: 40px;
  background: linear-gradient(180deg, #EBF2F7 21.5%, #FFFFFF 67%, #D3E3EE 90.8%);
  display: grid;
  gap: 20px;
}

.mains .card {
  display: grid;
  justify-items: center;
  gap: 32px;

  img {
    width: 321px;
    height: 356px;
    border-radius: 40px;
    background-repeat: no-repeat;
  }
}

.cards__inner {
  display: inline-flex;
  gap: 94px;
}

/*
.mains .paragraph {
  display: flex;
  width: 383px;
  height: 148px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.92px;
  margin-left: 118px;
  position: relative;
  top: 124px;
}
*/
.cards {
  position: relative;
}

.cards .headline1 {
  font-family: Orelega One;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  width: max-content;
}


.cards .paragraph1 {
  position: relative;
  font-size: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  width: 321px;
}


.qaa {
  display: block;
  height: 492px;
  position: relative;
  background: linear-gradient(180deg,
      #fdedcb 0%,
      rgba(255, 239, 204, 0.58) 32.2%,
      #fdc6c9 85.67%);
}

.button-actions {
  width: 753px;
  height: 800px;
  position: absolute;
  left: 29%;
}

.topings {
  background-image: url(./img/topings.png);
  background-repeat: no-repeat;
  position: relative;
  right: 27px;
  top: 130px;
  margin: 0;
  height: 292px;
}

.sales-actions {
  background-image: url(./img/sales.png);
  background-repeat: no-repeat;
  height: 800px;
}

.qaa .headline {
  position: relative;
  top: 39px;
  left: 43%;
  font-family: Orelega One;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.qaa .headline2 {
  position: relative;
}

footer {
  // background: linear-gradient(180deg, #D3E3EE 14%, #ECF3F8 30%, #ECF3F8 100%);
  margin: 0;
  padding: 0;
  height: 90px;
  position: relative;
  bottom: 0;
}

.footer-content {
  position: relative;
  display: flex;
  top: 30px;
  justify-content: space-around;
  margin-right: 70px;
  margin-left: 70px;
  color: #000000;
  align-items: center;
  gap: 20px;
}

.ul-foot {
  text-align: center;
}

.form-label {
  display: grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.25px;
  text-align: center;
}

.form-a-label {
  display: grid;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.25px;
  text-align: center;
}

.dialog {
  width: 705px;
  height: initial;
  position: relative;
  top: 20%;
  left: 30%;
  display: inline-flex;
  justify-content: center;
  background: #FDD0D0;
  padding: 110px 0 60px 0;
  border-radius: 40px;
  /*  */
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
}

.boxih {
  display: block;
}

.litter {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;

}

.litter-s {
  font-family: Orelega One;
  font-size: 20px;
  font-weight: 400;
  line-height: 21.81px;
  text-align: center;
}

.kolas {
  position: absolute;
  left: -52%;
  top: -40%;
}

.kolas :hover {
  opacity: 3s 0.3;
}

.forms {
  display: inline-grid;
  position: absolute;
  width: 300px;
  top: 0%;
  right: -53%;
  justify-content: center;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 39.25px;
  text-align: center;
}

.form {
  display: inline-grid;
  position: relative;
  width: 300px;
  top: 0%;
  left: 41.5%;
  justify-content: center;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 39.25px;
  text-align: center;
}

.input-labell {
  border-radius: 1px;
  /* border-right: #43362c75 solid 0.5px; */
  border-left: #43362c75 solid 0.5px;
  text-align: center;
  padding-top: 29px;
  width: 212px;
  height: 44px;
  background: none;
}

.input-labelll {
  border-radius: 10px;
  border: #43362c75 solid 0.5px;
  margin-top: 29px;
  width: 344px;
  height: 46px;
  background: none;
  position: relative;
  top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.input-labellll {
  border-radius: 10px;
  border: #43362c75 solid 0.5px;
  margin-top: 29px;
  width: 416px;
  height: 48px;
  background: none;
  position: relative;
  top: 40px;
  margin-bottom: 30px;
}

.clear {
  position: relative;
}

.cart-wow {
  display: grid;
  position: relative;
  top: 152px;
  margin-bottom: -18px;
  margin-left: 10%;
  width: 900px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 39.25px;
}

.ahah {
  display: flex;
  justify-content: center;
}

.input-label {
  border-radius: 10px;
  margin-top: 29px;
  width: 572px;
  height: 44px;
  background: linear-gradient(90deg, #ffe8ca 12%, #f1d0a6 49.4%, #ffe8ca 87.5%);
  border: none;
}

.input-l {
  border-radius: 10px;
  margin-top: 29px;
  width: -webkit-fill-available;
  height: 74px;
  display: inline-table;
  background: linear-gradient(90deg, #ffe8ca 12%, #f1d0a6 49.4%, #ffe8ca 87.5%);
  border: none;
}

.input-l-l {
  width: -webkit-fill-available;
  height: 74px;
  display: inline-flex;
  justify-content: space-between;
}

input ::placeholder {
  color: #715252;
}

input {
  padding: 0 35px;
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 400;
  line-height: 29.26px;
}

.reg-av-button {
  border-radius: 0px 10px 10px 0px;
  display: flex;
  padding-top: 15;
  margin-right: -7.5px;
  margin-left: -7.5px;
  justify-content: center;
  font-size: 24;
  width: 293px;
  height: 44px;
  background-color: #eec89c;
}

.reg-av-button:hover {
  background-color: #c9a47a;
  transition: background-color 0.9s;
}

.reg-av-button:active {
  background-color: #b48b5d;
  transition: background-color 0.9s 2s;
}

.reg-av-button2 {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  padding-top: 15;

  justify-content: center;
  font-size: 24;
  width: 286px;
  height: 44px;
  background-color: #eec89c;
}

.reg-av-button2:hover {
  background-color: #c9a47a;
  transition: background-color 0.9s;
}

.reg-av-button2:active {
  background-color: #b48b5d;
  transition: background-color 0.9s 2s;
}

/* menu-style */
.menu-main {
  width: auto;
  padding-bottom: 200px;
  background: linear-gradient(180deg, #D3E3EE 0%, #ECF3F8 38%, #ECF3F8 100%);
}

.menu-maine {
  width: auto;
  height: 1003px;

}

.menu--main {
  width: auto;
  height: 2703px;

  text-align: center;
}

.image-vkus {
  position: relative;
  top: 171px;
}

.image-vkus2 {
  position: relative;
  top: 293px;
}

.vkus {
  position: relative;
  top: 1%;
  font-weight: 700;
}

.menu-mains {
  width: inherit;
  height: 898px;
  background: linear-gradient(180deg,
      #fdedcb 0%,
      rgba(255, 239, 204, 0.58) 32.2%,
      #fdc6c9 85.67%);
}

.orders {
  width: auto;
  height: 1592px;
  background-color: #fdedcbed;
}

.menu-main .cards {
  position: relative;
  top: 152px;
  margin-bottom: -18px;
  display: inline-flex;
  margin-left: 13%;
  margin-right: 13%;
  width: -webkit-fill-available;
  justify-content: space-between;
}

li {
  list-style-type: none;
  margin-bottom: 14px;
}

.ul-optinos {
  position: relative;
  text-align: center;
  top: -5%;

}

.select-opt1 {
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  display: inline;
}

/* Card1 */

.card-1-content {
  display: block;
  width: 285px;
  height: 374px;

  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-1 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-1 .image-1 {

  position: relative;
  width: 128px;
  height: 139px;
  top: -15%;
  left: 18%;
}

.card-1 .image-2 {
  position: relative;
  top: 3%;
  left: 15%;
}

.nama {
  display: inline-block;
  height: 30px;
  color: #000000;
}

.menu-main .cards .paragraph-1 {
  font-family: Orelega One;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.45px;
  text-align: center;
  /* blockstyle */
  width: 211px;
  height: 17px;
  position: relative;
  top: -70px;
  left: 13%;
}

.menu-main .cards .paragraph-2 {
  font-family: Orelega One;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.45px;
  text-align: center;
  /* blockstyle */
  width: 211px;
  height: 17px;
  position: relative;
  top: 5%;
  left: 13%;
}

.menu-main .cards .paragraph-1-2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  /*blockstyle  */
  position: relative;
  width: 243px;
  height: 85px;
  top: -61px;
  left: 8%;
}

.menu-main .cards .paragraph-1-3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  /*blockstyle  */
  position: relative;
  width: 243px;
  height: 85px;
  top: 8%;
  left: 8%;
}

.headline-1 {
  font-family: Orelega One;
  font-size: 20px;
  font-weight: 400;
  line-height: 21.81px;
  text-align: center;
  /* Blockstyle */
  display: inline-flex;
  justify-content: space-around;
  position: relative;
  width: 123px;
  height: 22px;
  bottom: 98px;
  left: 30%;
}

/* Card2 */

.card-2-content {
  display: block;
  width: 285px;
  height: 374px;
  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-2 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-2 .image-2 {
  position: relative;
  top: 15%;
  width: 285px;
  height: 139px;
  background-image: url(./img/babydonut.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.menu-main .cards .paragraph-2-2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  /*blockstyle  */
  position: relative;
  width: 243px;
  height: 85px;
  top: 44%;
  left: 8%;
}

.ul-optinos1 {
  position: absolute;
  top: 49%;
  left: 15%;
}

.card-5-content {
  display: block;
  width: 285px;
  height: 374px;
  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-5 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-5 .image-5 {
  position: relative;
  bottom: -35%;
  width: 285px;
  height: 160px;
  background-image: url(./img/cake.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

/* Card6 */

.card-6-content {
  display: block;
  width: 285px;
  height: 374px;
  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-6 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-6 .image-6 {
  position: relative;
  bottom: -35%;
  width: 285px;
  height: 160px;
  background-image: url(./img/cake-2.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

/* Card7 */

.card-7-content {
  display: block;
  width: 285px;
  height: 374px;
  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-7 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-7 .image-7 {
  position: relative;
  bottom: -35%;
  width: 285px;
  height: 160px;
  background-image: url(./img/cake-3.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

/* Card8 */
.card-8-content {
  display: block;
  width: 285px;
  height: 374px;
  border-radius: 40px;
  background-color: #fff9ecb8;
}

.menu-main .card-8 {
  display: block;
  width: 285px;
  height: 482px;
  border-radius: 40px;
}

.card-8 .image-8 {
  position: relative;
  bottom: -35%;
  width: 285px;
  height: 160px;
  background-image: url(./img/cake-4.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}


.but {
  background-color: #b48b5d;
  border: #000000 solid;
  display: block;
  width: 200px;
  height: 40px;
}

.icon {
  position: relative;
  top: -5px;
  left: -40px;
  width: 40px;
  height: 40px;
}

footer ul.navv {
  margin: 0;
  padding: 0;
  position: relative;
}

footer ul.navv li {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 8px;
  cursor: pointer;
  font-size: 17px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

footer .logo {
  font-weight: 600;
  font-size: 20px;
}

/* hui */
.slides {
  display: grid;
  gap: 40px;
}

.slides__hotel-kurort-but {
  width: max-content;
  background: white;
  border-radius: 40px 40px 0 0;
  padding: 29px;
}

.button-hotel {
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #817878;

}

.slides__hotel-kurort {
  display: grid;
  justify-content: center;
  width: -webkit-fill-available;

}

.slides__hotel-kurort-inner {
  display: inline-flex;
  gap: 10px;
  padding: 10px;
  background-color: white;
  height: 182px;
  align-items: center;
  border-radius: 0px 40px 40px 40px;
}

.hotel__section-button {
  display: grid;
}

.hotel__section-button::after {
  content: 'Направление';
  position: relative;
  left: 43px;
  bottom: 65px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #817878;
  width: max-content;
  height: fit-content;
}

.hotel__section-selection::after {
  content: 'Заезд';
  position: relative;
  left: 40px;
  bottom: 65px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #817878;
  width: max-content;
  height: fit-content;
}

.slides__kurort-section::after {
  content: 'Выезд';
  position: relative;
  left: 40px;
  bottom: 65px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #817878;
  width: max-content;
  height: fit-content;
}

.selection-room {
  width: 369px;
}

.selection-room::after {
  content: 'Тип номера';
  position: relative;
  left: 40px;
  bottom: 65px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #817878;
  width: max-content;
  height: fit-content;
}

.slides__input {
  display: inline-flex;
}

.slides__input-button {
  height: 106px;
}

.hotel__section-button select,
.slides__select-room select {
  width: 369px;
  height: 84px;
  border-radius: 40px;
  border-width: 4px;
  border: 4px solid #D3E3EE;
  position: relative;
  padding-left: 35px;
  padding-top: 35px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}

.selection-income input,
.selection-outcome input {
  width: 100.5px;
  height: 41px;
  border-radius: 40px 0px 0px 40px;
  border-width: 4px;
  border: 4px solid #D3E3EE;
  position: relative;
  padding-left: 35px;
  padding-top: 35px;
  font-family: Martian Mono;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}

.selection-outcome input {
  border-radius: 0px 40px 40px 0px;
}

.slides__select-room {
  display: inline-flex;
}

.submit-but {
  width: 240px;
  height: 84px;
  border-radius: 40px;
  border-width: 4px;
  background: #D3E3EE;
  border-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #D3E3EE 0%, #D3E3EE 44.3%, #FFFFFF 81%);
  padding-top: 43px;
  padding-bottom: 43px;

  .main__numbers-cards {
    display: inline-flex;
    gap: 165px;
  }

  .headline1 {
    font-family: Orelega One;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
  }

  .main__numbers-card {
    display: grid;
    justify-items: center;

    img {
      border-radius: 50%;
    }



    .headline {
      width: max-content;
      height: 20px;
      font-family: Orelega One;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

    }
  }
}
.menu__cards{
  display: grid;
  justify-content: center;
}
.slides__hotel-section{
  display: inline-flex;
}
.menu__cards-card {
  width: 1219px;
  padding: 35px 40px;
  // height: 470px;
  border-radius: 40px;
  background: #FFF8F8D4;
  display: inline-flex;
  justify-content: space-between;
  .menu__card-img{
    width: 243px;
    height: 243px;
  }
  .menu__card-img img {
    width: 243px;
    height: 243px;
    border-radius: 40px;

  }

  .menu__card-text {
    padding-right: 63px;
    border-right: 3px solid #625555BD;
  }

  .menu__card-text-paragraph {
    display: grid;

    p {
      font-family: Orelega One;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;

    }

    span {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;

    }
  }

  .menu__card-text-right {
    display: grid;
    gap: 15px;
    height: max-content;

    .span1 {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      height: 24px;
    }

    .span2 {
      font-family: Orelega One;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      height: 35px;
    }

    .cost {
      font-family: Outfit;
      font-weight: 400;
      font-size: 96px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;

    }
  }

}